<section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
        <td mat-cell *matCellDef="let sensor">
          <ng-container [ngSwitch]="column">
            <ng-container *ngSwitchCase="'modified_date'">
              {{formatDate(sensor[column]) || 'NULL'}}
            </ng-container>
            <ng-container *ngSwitchCase="'created_date'">
              {{formatDate(sensor[column]) || 'NULL'}}
            </ng-container>
            <ng-container *ngSwitchCase="'active'">
              {{sensor[column] ? 'Yes' : 'No'}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{sensor[column] || 'NULL'}}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
