<style>
  table.dataTable thead tr > .dtfc-fixed-left,
 table.dataTable thead tr > .dtfc-fixed-right,
 table.dataTable tfoot tr > .dtfc-fixed-left,
 table.dataTable tfoot tr > .dtfc-fixed-right {
   top: 0;
   bottom: 0;
   z-index: 3;
   background-color: white;
 }
 
 table.dataTable tbody tr > .dtfc-fixed-left,
 table.dataTable tbody tr > .dtfc-fixed-right {
   z-index: 1;
   background-color: white;
 }
 
 div.dtfc-left-top-blocker,
 div.dtfc-right-top-blocker {
   background-color: white;
 }
</style>

<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th,
  td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dff6f7
  }

  th {
      background-color: #11b3c2;
      color: white;
  }
</style>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover" style="width: 100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Device ID</th>
        <th>Device ID (hex)</th>
        <th>Firmware Version</th>
        <th>Active</th>
        <th>Station ID</th>
        <th>Station ID (uuid)</th>
        <th>Station Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Registered Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let node of nodes">
        <td>{{node.node_id || 'NULL'}}</td>
        <td>{{node.node_name || 'NULL'}}</td>
        <td>{{node.device_id || 'NULL'}}</td>
        <td>{{node.device_id_hex || 'NULL'}}</td>
        <td>{{node.firmware_version || 'NULL'}}</td>
        <td>{{node.active ? 'Yes' : 'NULL'}}</td>
        <td>{{node.station_id || 'NULL'}}</td>
        <td>{{node.station_id_uuid || 'NULL'}}</td>
        <td>{{node.station_name || 'NULL'}}</td>
        <td>{{node.latitude || 'NULL'}}</td>
        <td>{{node.longitude || 'NULL'}}</td>
        <td>{{node.elevation || 'NULL'}}</td>
        <td>{{node.registered_date ? (node.registered_date | date:'dd/MM/yyyy HH:mm:ss') : 'NULL'}}</td>
      </tr>
    </tbody>
  </table>
</div>

