<style>
  table.dataTable thead tr > .dtfc-fixed-left,
 table.dataTable thead tr > .dtfc-fixed-right,
 table.dataTable tfoot tr > .dtfc-fixed-left,
 table.dataTable tfoot tr > .dtfc-fixed-right {
   top: 0;
   bottom: 0;
   z-index: 3;
   background-color: white;
 }
 
 table.dataTable tbody tr > .dtfc-fixed-left,
 table.dataTable tbody tr > .dtfc-fixed-right {
   z-index: 1;
   background-color: white;
 }
 
 div.dtfc-left-top-blocker,
 div.dtfc-right-top-blocker {
   background-color: white;
 }
</style>


<style>
body{
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 16px; 
}

td {
  font-size: 12px;
}

th, td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #dff6f7;
}

th {
  background-color: #11b3c2;
  color: white;
}

tr:nth-child(even) {
  background-color: #dff6f7
}

tr:hover{
  background-color:#b9e9eb;
}

</style>

<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover" style="width: 100%;">
    <thead>
      <tr>
        <th>Lsid</th>
        <th>Modified Date</th>
        <th>Sensor Type</th>
        <th>Category</th>
        <th>Manufacturer</th>
        <th>Product Name</th>
        <th>Product Number</th>
        <th>Rain Collector Type</th>
        <th>Active</th>
        <th>Created Date</th>
        <th>Station Id</th>
        <th>Station Id (uuid)</th>
        <th>Station Name</th>
        <th>Parent Device Type</th>
        <th>Parent Device Name</th>
        <th>Parent Device Id</th>
        <th>Parent Device Id (hex)</th>
        <th>Port Number</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>TX Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensors">
        <td>{{sensor.lsid || 'NULL'}}</td>
        <td>{{sensor.modified_date ? (sensor.modified_date | date:'dd/MM/yyyy HH:mm:ss') : 'NULL'}}</td>
        <td>{{sensor.sensor_type || 'NULL'}}</td>
        <td>{{sensor.category || 'NULL'}}</td>
        <td>{{sensor.manufacturer || 'NULL'}}</td>
        <td>{{sensor.product_name || 'NULL'}}</td>
        <td>{{sensor.product_number || 'NULL'}}</td>
        <td>{{sensor.rain_collector_type || 'NULL'}}</td>
        <td>{{sensor.active ? 'Yes' : 'NULL'}}</td>
        <td>{{sensor.created_date ? (sensor.created_date | date:'dd/MM/yyyy HH:mm:ss') : 'NULL'}}</td>
        <td>{{sensor.station_id || 'NULL'}}</td>
        <td>{{sensor.station_id_uuid || 'NULL'}}</td>
        <td>{{sensor.station_name || 'NULL'}}</td>
        <td>{{sensor.parent_device_type || 'NULL'}}</td>
        <td>{{sensor.parent_device_name || 'NULL'}}</td>
        <td>{{sensor.parent_device_id || 'NULL'}}</td>
        <td>{{sensor.parent_device_id_hex || 'NULL'}}</td>
        <td>{{sensor.port_number || 'NULL'}}</td>
        <td>{{sensor.latitude || 'NULL'}}</td>
        <td>{{sensor.longitude || 'NULL'}}</td>
        <td>{{sensor.elevation || 'NULL'}}</td>
        <td>{{sensor.tx_id || 'NULL'}}</td>
      </tr>
    </tbody>
  </table>
</div>

